
/* GÃ©nÃ©ral */
body {
	color: #000000;
	background: #000000;
}
a {
	color: #FF6533;
}
a:hover, a:focus {
	color: #FF4C00;
}
strong {
	color: #A1B55D;
}

/* Page */
#global {
	background: #9ee0ff;
	text-align: center;
}

/* Navigation */
#navigation {
	/*margin-top:75px; */
	background: #7e9eda;
	border-radius: 10px;
}
#navigation a {
	color: #000000;    /* COULEUR MENU*/
}
#navigation a:hover, #navigation a:focus {
	background: #0c33e4;
	border-radius: 10px;
}

/* Contenu principal */
#contenu {
	margin-top: 1%;
	color: #000000;
	background: #ffffff;
	border-radius: 10px;
	
}
label {
	display: block; /* Affiche chaque label sur une nouvelle ligne */
	text-align: center;
}

input {

	display: flex;
	justify-content: center;

}
#contenu a {
	color: #332510;
}
#contenu a:hover, #contenu a:focus {
	color: #6E5122;
}
#contenu strong {
	color: #181A12;
}

/* Pied de page */
#pied {
	color: #E6A948;
}


/* --- POSITIONNEMENT --- */

/* Page */
html, body {
	height: 100%; /* Voir -> Note 1 ci-dessous */
}
body {
	padding: 0;
}
#global {
	min-height: 100%; /* -> 1 */
	width: 100%;
	overflow: hidden; /* -> 2 */
	margin-left: auto;
	margin-right: auto; /* -> 3 */
}

/* En-tÃªte */
#entete {
	padding: 15px 20px 10px 20px;
	text-align: center;
}
#entete h1 {
	margin: 0;
}
#entete h1 img {
	float: center; /* ________________________________________________________________________ */
	margin: 7px 20px 10px 0;
}
#entete .sous-titre {
	margin: 4px 0 15px 0;
}

/* Menu de navigation */
#navigation {
	padding: 12px 15px;
}
#navigation ul {
	margin: 0;
	list-style: none;
	text-align: center;
}
#navigation li {
	display: inline;
}
#navigation a {
	padding: 6px;
	line-height: 1.5;
	font-size: .9em;
	text-decoration: none;
}

/* Contenu */
#contenu {
	padding: 10px 20px;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}
#contenu > :first-child {
	margin-top: 10px;
}
#contenu p, #contenu li {
	line-height: 1.5;
}

/* Pied de page */
#pied {
	padding: 15px 20px;
	font-size: .85em;
}
#pied p {
	margin: .5em 0;
}
#copyright {
	text-align: left;
	font-size: 1em;
}
.input{
    display: flex;
    justify-content: center;
}
